<!DOCTYPE html>
<html   th:if="${session!=null}">

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap-theme.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/js/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="/static/js/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/static/js/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="/static/js/bootstrap/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/util/common.js"></script>
</head>
<body>
<div class="container">
    <div class="form-group" style="text-align: center!important;">
        <div class="row">
            <h3>修改密码</h3>
        </div>
    </div>
    <form action="#" method="post" id="modifyPasswordForm">
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-1" style="text-align: right;">原始密码:</label>
                <div class="col-sm-3">
                    <input type="password" id="oldPassword" class="form-control" name="oldPassword"/>
                </div>
                <div class="col-sm-1">
                    <span style="color:rgb(255,0,0)">*</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-1" style="text-align: right;">新密码:</label>
                <div class="col-sm-3">
                    <input type="password" id="newPassword" class="form-control" name="newPassword"/>
                </div>
                <div class="col-sm-1">
                    <span style="color:rgb(255,0,0)">*</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-1" style="text-align: right;">确认密码:</label>
                <div class="col-sm-3">
                    <input type="password" id="rePassword" class="form-control" name="rePassword"/>
                </div>
                <div class="col-sm-1">
                    <span style="color:rgb(255,0,0)">*</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <input type="hidden" name="userId" id="userId"
                       th:value="${session.emp.empId}">
                <button type="button" class="btn btn-primary" onclick="modifyPassword()">
                    <span>修改密码</span>
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    /**
     * 修改密码
     * @param formData
     */
    function modifyPassword() {
        let empId=$('#userId').val();
        let formData = getDatas('modifyPasswordForm');
        let pwdReg = /^[\S]{6,12}$/;
        let oldPassword = formData.oldPassword;
        if (!pwdReg.test(oldPassword)) {
            alert('原始密码必须6到12位,且不能出现空格');
            return;
        }
        let newPassword = formData.newPassword;
        if (!pwdReg.test(newPassword)) {
            alert('新密码必须6到12位,且不能出现空格');
            return;
        }
        let rePassword = formData.rePassword;
        if (newPassword != rePassword) {
            alert('两次密码输入不一致!');
            return;
        }
        if (!window.confirm('确定修改密码吗?')) {
            return;
        }
        $.ajax({
            url: '/emp/modify_pwd',
            type: 'post',
            data: {
                oldPassword:oldPassword,
                newPassword:newPassword,
                empId:empId
            },
            datatype: 'json',
            success: function (data) {
                let status = data.status;
                if (0 != status) {
                    alert(`修改密码失败【${data.message}】`);
                    return;
                }
                let type = data.data;
                if (1 == type) {
                    alert('修改密码成功');
                    window.parent.location.href = "/v/emp/emp_list";
                } else {
                    alert('修改失败,未知的状态');
                }
            },
            error: function () {
                alert('服务器异常');
            }
        });
    }
</script>
</body>
</html>
<html th:if="${session==null}">
<head>
    <title>您无权限修改密码</title>
    <script>
        window.location.href = '/';
    </script>
</head>
<body></body>
</html>