<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建职位</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <form action="#" method="post">
        <div><span>职位名称:</span><input name="jobName" type="text"></div>
        <div><span>职位编号:</span><input name="jobNo" type="text"></div>
        <div>
            <span>部门:</span>
            <select id="depSelect" name="depId"></select>
        </div>
        <div>
            <span>职位状态:</span>
            <label><span>正常</span><input name="jobState" type="radio" value="1" checked></label>
            <label><span>停用</span><input name="jobState" type="radio" value="9"></label>
        </div>
        <div>
            <span>备注:</span>
            <textarea name="remark"></textarea>
        </div>
        <div>
            <input type="hidden" name="userId" id="userId"
                    th:value="${session.emp.empId}">
            <button type="button" onclick="createjob()">创建</button>
            <button type="reset">重置</button>
        </div>
    </form>
</div>
</body>
<script>
    $(function(){
        $.ajax({
            url: '/dep/select_list',
            type: 'post',
            dataType: 'json',
            cache: false,
            success: function (jsonData) {
                var status = jsonData.status;
                if (status != 0) {
                    alert('加载部门数据失败！！服务器发生异常！！')
                }
                var depList = jsonData.data;
                if ($.isEmptyObject(depList)) {
                    alert('部门数据为空！！');
                    window.close();
                }
                depList.forEach(function (dep) {
                    $('#depSelect').append('<option value="' + dep.depId + '">' + dep.depName + '</option>')
                })
            },
            error: function () {
                alert('加载部门数据失败！！');
            }
        })
    })
    function createjob() {
        var formData = $('form:first').serialize();
        $.ajax({
            url: '/job/create_job',
            type: 'post',
            data: formData,
            cache: false,
            dataType: 'json',
            success: function (jsonData) {
                var status = jsonData.status;
                if (status != 0) {
                    alert(jsonData.message);
                    return;
                }
                var rows = jsonData.data;
                if (rows == 1) {
                    alert('创建成功！');
                    window.opener.location.reload();
                    window.close();
                } else if (rows == 0) {
                    alert('创建失败！')
                } else {
                    alert('创建操作返回未知状态！')
                }
            },
            error: function () {
                alert('创建职位失败!')
            }
        })
    }
</script>
</html>