<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>职位列表</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form action="/job/to_select" method="post">
    <div>
        <span>职位状态:</span>
        <label><input name="jobState" type="radio" value="0">不限</label>
        <label><input name="jobState" type="radio" value="1">使用中</label>
        <label> <input name="jobState" type="radio" value="9">已停用</label>
    </div>
    <div>
        <button type="submit">查询</button>
        <button onclick="toCreate()">创建</button>
        <script>
            var jobState = [[${param.jobState!=null?param.jobState:0}]];
            $(':radio[name="jobState"][value="' + jobState + '"]').prop("checked", true);
        </script>
    </div>
</form>
<!--显示查询数据-->
<table>
    <thead>
    <tr>
        <th>序号</th>
        <th>编号</th>
        <th>名称</th>
        <th>部门</th>
        <th>创建时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody th:if="${#lists.isEmpty(jobList)}">
    <tr>
        <td colspan="7" style="color: red;text-align: center">未查询到数据</td>
    </tr>
    </tbody>
    <tbody th:unless="${#lists.isEmpty(jobList)}">
    <tr th:each="job,v:${jobList}">
        <td style="text-align: center" th:text="${v.count}"></td>
        <td style="text-align: center" th:text="${job.jobNo}"></td>
        <td style="text-align: center" th:text="${job.jobName}"></td>
        <td th:text="${job.dep==null?'-':job.dep.depName}" style="text-align: center"></td>
        <td style="text-align: center"
            th:text="${#lists.isEmpty(job.createTime)?'-':#dates.format(job.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td style="text-align: center" th:switch="${job.jobState}">
            <span th:case="1" style="color: blue">使用中</span>
            <span th:case="9" style="color: red">已停用</span>
            <span th:case="*" style="color: gray">未知</span>
        </td>
        <td style="text-align: center" th:data-job-name="${job.jobName}" th:data-job-id="${job.jobId}">
            <a href="#" style="color: orange" onclick="deletejob(this)">删除</a>
            <a href="#" style="color: pink" onclick="updatejob(this)">修改</a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function deletejob(but) {
        var jobName = $(but).parent().data('job-name');
        var jobId = $(but).parent().data('job-id');
        if (!window.confirm(`确定要删除【${jobName}】吗`)) {
            return;
        }
        $.ajax({
            url: '/job/delete_job',
            type: 'post',
            data: {
                jobId: jobId
            },
            dataType: 'json',
            cache: false,
            success: function (jsonData) {
                var status = jsonData.status;
                if (status != 0) {
                    alert('删除失败！！服务器发生异常！！')
                }
                var rows = jsonData.data;
                if (rows == 1) {
                    alert('删除职位成功！！');
                    window.location.reload();
                } else if (rows == 0) {
                    alert('职位不存在或已被删除！！');
                } else {
                    alert('服务器返回未知的状态');
                }
            },
            error: function () {
                alert('删除职位失败！')
            }
        })
    }

    function updatejob(but) {
        var jobId = $(but).parent().data('job-id');
        //    打开修改页面
        window.open(`/v/job/update_job?jobId=${jobId}`);
    }

    function toCreate() {
        window.open('/v/job/create_job');
    }
</script>
</body>
</html>