<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnt.pchr.mapper.EmpMapper">
    <select id="selectPage" resultType="com.bnt.pchr.entity.Emp">
        SELECT
            `emp_id`,
            `emp_name`,
            `password`,
            `emp_no`,
            `sex`,
            `mobile`,
            `emp_state`,
            `dep_id`,
            `job_id`,
            `remark`,
            `salary`,
            `homeplace`,
            `create_emp_id`,
            `modify_emp_id`,
            `birthday`,
            `create_time`,
            `modify_time`,
            `emp_head`,
            `email`,
            `home_address`,
            `contact_man`,
            `contact_phone`,
            `relation`,
            `qq`,
            `wechart`,
            `seat_code`,
            `id_card`
        FROM
            `emp`
        <where>
            <if test="criteriaMap.kd!=null and criteriaMap.kd!=''">
                and (
                `emp_name` like '%${criteriaMap.kd}%' or
                `emp_no` = #{criteriaMap.kd} or
                `mobile` = #{criteriaMap.kd} or
                `remark` like '%${criteriaMap.kd}%' or
                `homeplace` like '%${criteriaMap.kd}%' or
                `email` = #{criteriaMap.kd} or
                `qq` = #{criteriaMap.kd} or
                `wechart` = #{criteriaMap.kd} or
                `seat_code` = #{criteriaMap.kd} or
                `id_card` = #{criteriaMap.kd}
                )
            </if>
            <if test="criteriaMap.floor!=null and criteriaMap.floor!=0">
                and `salary`>=#{criteriaMap.floor}
            </if>
            <if test="criteriaMap.ceil!=null and criteriaMap.ceil!=0">
                and `salary`&lt;=#{criteriaMap.ceil}
            </if>
            <if test="criteriaMap.depId!=null and criteriaMap.depId!=0">
                and `dep_id`=#{criteriaMap.depId}
            </if>
            <if test="criteriaMap.jobId!=null and criteriaMap.jobId!=0">
                and `job_id`=#{criteriaMap.jobId}
            </if>
            <if test="criteriaMap.empState!=null and criteriaMap.empState!=0">
                and `emp_state`=#{criteriaMap.empState}
            </if>
            <if test="criteriaMap.sex!=null and criteriaMap.sex!=0">
                and `sex`=#{criteriaMap.sex}
            </if>
        </where>
    </select>
    <!--分页查询员工简历 left join-->
    <select id="selectEmpResume" resultType="emp">
        select
        e.`emp_id` as `empId`,
        `emp_name` as `empName`,
        `resume_id` as `resume.resumeId`,
        d.`dep_id` as `dep.depId`,
        `dep_name` as `dep.depName`,
        `resume_file_path` as `resume.resumeFilePath`,
        `file_type` as `resume.fileType`,
        r.`emp_id` as `resume.empId`
        from `emp` as e
        left join `department` as d
        on e.`dep_id`=d.`dep_id`
        left join `emp_resume` as r
        on e.`emp_id`=r.`emp_id`
        <where>
            <if test="@cn.hutool.core.util.StrUtil@isNotEmpty(criteriaMap.kd)">
                and (
                `emp_name` like '%${criteriaMap.kd}%'  or
                `emp_no`   like '%${criteriaMap.kd}%'  or
                `mobile`   like '%${criteriaMap.kd}%'  or
                `email`    like '%${criteriaMap.kd}%'  or
                `qq`       like '%${criteriaMap.kd}%'  or
                `id_card`  like '%${criteriaMap.kd}%'
                )
            </if>
        </where>
    </select>
</mapper>