<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
            </div>
            <h4 class="modal-title">修改一级菜单</h4>
        </div>
        <div class="modal-body" id="modalbody" roller="false"
             style="width: 90%; position: relative; overflow-x: hidden; overflow-y: auto;margin-left: auto;margin-right: auto;">
            <form action="#" method="post" id="modifySupMenuForm">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2" style="text-align: right;">菜单名称</label>
                        <div class="col-sm-3">
                            <input id="menuName" class="form-control" type="text" name="menuName"/>
                        </div>
                        <div class="col-sm-1">
                            <span style="color:rgb(255,0,0)">*</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2" style="text-align: right;">菜单URL</label>
                        <div class="col-sm-3">
                            <input id="url" class="form-control" type="text" name="url"/>
                        </div>
                        <div class="col-sm-1">
                            <span style="color:rgb(255,0,0)">*</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2" style="text-align: right;">使用状态</label>
                        <div class="col-sm-3">
                            <label><input type="radio" name="useState" value="1"  title="使用中">使用</label>
                            <label><input type="radio" name="useState" value="0"  title="已停用" >已停</label>
                        </div>
                        <div class="col-sm-1">
                            <span style="color:rgb(255,0,0)">*</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2" style="text-align: right;">备注</label>
                        <div class="col-sm-3">
                             <textarea id="remark" placeholder="请输入备注" name="remark" autocomplete="off"
                                       class="form-control"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <span style="color:rgb(255,0,0)">*</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="menuId" th:value="${param.menuId}">
            </form>
            <div class="modal-footer">
                <div class="btn btn-default" data-dismiss="modal" id="dialogng">关闭</div>
                <button type="button" class="btn btn-primary" id="submit_button" onclick="modifySupMenu()">
                    <span>修改一级菜单</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var menuId = [[${param.menuId!=null?param.menuId[0]:0}]];
        if (0 == menuId) {
            alert('缺少一级菜单ID');
            //隐藏模态框
            $("#supMenuModal").hide();
            return;
        }
        //加载一级菜单信息
        $.ajax({
            url: '/menu/load_by_id',
            type: 'get',
            data: {menuId: menuId},
            dataType: 'json',
            success: function (jsonData) {
                let status = jsonData.status;
                if (0 != status) {
                    alert(`加载一级菜单数据失败,原因:${jsonData.message}`);
                    return;
                }
                menu = jsonData.data;
                $(':text[name="menuName"]').val(menu.menuName);
                $(':text[name="url"]').val(menu.url);
                $('#remark').val(menu.remark);
                //使用状态默认选中
                $(':radio[name="useState"][value="'+menu.useState+'"]').prop({checked:true});
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(`加载一级菜单数据失败,原因:${textStatus || errorThrown}`);
            }
        });
    });
   

    /**
     * 修改一级菜单
     */
    function modifySupMenu() {
        if (!window.confirm('确定要修改一级菜单吗?')) {
            return;
        }
        //获取表单数据
        var formData = getDatas('modifySupMenuForm');
        //判断是否有数据被修改
        if (!isUpdated(formData, menu, 'menuId')) {
            alert('您没有对数据做任何修改');
            return;
        }
        //利用AJAX以form表单post方式请求提交数据
        $.ajax({
            url: '/menu/modify',
            type: 'post',
            data: formData,
            contextType: 'application/x-www-form-urlencoded',// 在发送前对所有字符进行编码
            dataType: 'json',
            success: function (jsonData) {
                if (0 != jsonData.status) {
                    alert(`修改一级菜单失败【${jsonData.message}】`);
                    return;
                }
                var rows = jsonData.data;
                if (1 == rows) {
                    alert('修改一级菜单成功!!');
                    //隐藏模态框
                    $("#supMenuModal").hide();
                    window.location.reload();//刷新页面
                } else if (0 == rows) {
                    alert('一级菜单不存在或已被删除!');
                } else {
                    alert('修改一级菜单,服务器返回未知操作状态!');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(`修改一级菜单失败【${errorThrown || textStatus}】`);
            }
        });
    }
</script>