<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
            </div>
            <h4 class="modal-title">创建简历</h4>
        </div>
        <div class="modal-body" id="modalbody" roller="false"
             style="width: 90%; position: relative; overflow-x: hidden; overflow-y: auto;margin-left: auto;margin-right: auto;">
            <form action="#" method="post" id="createResumeForm">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2">
                            <button id="uploadBut" type="button" class="btn btn-primary">上传简历</button>
                        </label>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success btn-sm" title="在线阅读">在线阅读</button>
                            <button type="button" class="btn btn-warning btn-sm" title="删除简历">删除简历</button>
                        </div>
                        <div class="col-md-7">
                            <div class="progress progress-striped active" style="display: none">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div>
                <input id="resumeFiles" type="file" name="resume_files" accept="application/pdf,application/msword"
                       style="display: none">
            </div>
            <div class="btn btn-default" data-dismiss="modal" id="dialogng">关闭</div>
            <button type="button" class="btn btn-primary" id="submit_button" onclick="createResume()">
                <span>添加简历</span>
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#uploadBut').click(function () {
            //激活上传控件
            $('#resumeFiles').click();
        });
        $('#resumeFiles').change(function () {
            var files = $(this)[0].files;
            var len = files.length;
            if (0 == len) {
                alert("未选择任何简历文件");
                return false;
            }
            if (len > 1) {
                alert("目前仅支持上传单个简历文件");
                return false;
            }
            let file = files[0];
            let fileName = file.name;
            let fileNameFormat = /^\S+.(doc|docx|pdf)$/;
            console.info(fileName);
            console.info(fileNameFormat.test(fileName));
            if (!fileNameFormat.test(fileName)) {
                alert("简历格式或文件类型不对【" + fileName + "】");
                $(this)[0].files.length = 0;
                return false;
            }
            //利用jQuery AJAX异常上传简历文件
            let formData = new FormData();
            formData.append('resume_files', file);
            formData.append('emp_id', 1);
            $.ajax({
                url: '/resume/upload',
                type: "POST",
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                xhr: function () { //这是关键 获取原生的xhr对象 做以前做的所有事情
                    let xmlHttpRequest = jQuery.ajaxSettings.xhr();
                    xmlHttpRequest.upload.onloadstart = function () {
                        $('.progress').css({display: 'block'})
                    }
                    xmlHttpRequest.upload.onload = function () {
                        //客户端上传数据完毕
                        //$('.progress').css({display: 'none'});
                    }
                    xmlHttpRequest.upload.onprogress = function (ev) {
                        if (ev.lengthComputable) {
                            let percent = parseInt(100 * ev.loaded / ev.total);
                            setProgressBar(percent);
                        }
                    }
                    return xmlHttpRequest;
                },
                success: function (jsonData) {
                    let status=jsonData.status;
                    if(0!=jsonData.status)
                    {
                        alert(`上传简历失败【${jsonData.message}】`);
                        return;
                    }
                    //成功
                    //$('.progress').css({display: 'none'});//隐藏进度条
                    $('#resumeFiles')[0].files.length = 0;//清空上传文件
                }, error: function () {
                    alert('上传文件失败');
                }
            });
        });
    });

    /**
     * 设置进度条
     */
    function setProgressBar(percent) {
        $('.progress-bar').css({width: percent + '%'});
        $('.progress-bar').text(percent + '%');
        $('.progress-bar').attr('aria-valuenow', percent);
    }

    /**
     * 创建简历
     */
    function createResume() {
        if (!window.confirm('确定要添加简历吗?')) {
            return;
        }
        var formData = $('#createResumeForm').serialize();
        $.ajax({
            url: '/resume/create',
            type: 'post',
            data: formData,
            contextType: 'application/x-www-form-urlencoded',// 在发送前对所有字符进行编码
            dataType: 'json',
            success: function (jsonData) {
                if (0 != jsonData.status) {
                    alert(`添加简历失败【${jsonData.message}】`);
                    return;
                }
                var rows = jsonData.data;
                if (1 == rows) {
                    alert('添加简历成功!!');
                    //隐藏模态框
                    $("#ResumeModal").hide();
                    window.location.reload();//刷新页面
                } else {
                    alert('添加简历,服务器返回未知操作状态!');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(`添加简历失败【${errorThrown || textStatus}】`);
            }
        });
    }
</script>