<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
            </div>
            <h4 class="modal-title">创建简历</h4>
        </div>
        <div class="modal-body" id="modalbody" roller="false"
             style="width: 90%; position: relative; overflow-x: hidden; overflow-y: auto;margin-left: auto;margin-right: auto;">
            <form action="#" method="post" id="createResumeForm">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-2">员工姓名:</label>
                        <div class="col-md-2">
                            <span id="empNameSpan" class="label label-info"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <button id="uploadBut" type="button" class="btn btn-primary">上传简历</button>
                        </div>
                        <div class="col-md-10" id="uploadControlDiv">
                        </div>
                    </div>
                </div>
                <div>
                    <!--员工ID-->
                    <input type="hidden" id="empId" name="empId">
                    <!--简历文件URL-->
                    <input type="hidden" id="resumeFilePath" name="resumeFilePath">
                    <!--简历文件格式-->
                    <input type="hidden" id="fileType" name="fileType">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div>
                <input id="resumeFiles" type="file" name="resume_files" accept="application/pdf,application/msword"
                       style="display: none">
            </div>
            <div class="btn btn-default" data-dismiss="modal" id="dialogng">关闭</div>
            <button type="button" class="btn btn-primary" id="submit_button" onclick="createResume()">
                <span>添加简历</span>
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#uploadBut').click(function () {
            //激活上传控件
            $('#resumeFiles').click();
        });
        $('#resumeFiles').change(function () {
            var files = $(this)[0].files;
            var len = files.length;
            if (0 == len) {
                alert("未选择任何简历文件");
                return false;
            }
            if (len > 1) {
                alert("目前仅支持上传单个简历文件");
                return false;
            }
            let file = files[0];
            let fileName = file.name;
            let fileNameFormat = /^\S+.(doc|docx|pdf)$/;
            if (!fileNameFormat.test(fileName)) {
                alert("简历格式或文件类型不对【" + fileName + "】");
                $('#resumeFiles').val("");//清空上传文件
                return false;
            }
            //利用jQuery AJAX异常上传简历文件
            let empId = $('#empId').val()
            let formData = new FormData();
            formData.append('resume_files', file);
            formData.append('emp_id', empId);
            $.ajax({
                url: '/resume/upload',
                type: "POST",
                data: formData,
                dataType: 'json',
                processData: false,
                async: false,
                contentType: false,
                success: function (jsonData) {
                    let status = jsonData.status;
                    if (0 != jsonData.status) {
                        alert(`上传简历失败【${jsonData.message}】`);
                        return;
                    }
                    alert('上传简历成功!!!')
                    let resume = jsonData.data;
                    console.info(resume);
                    $('#resumeFiles').val("");//清空上传文件
                    let fileType = resume.fileType;
                    if (1 == fileType) {
                        $('#uploadControlDiv').append(`<span class="resume-name-span" onclick="onlinePreview('${resume.resumeURL}')"><img src="/static/img/docx_icon.png" title="预览">${resume.resumeName}</span>`);
                    } else if (2 == fileType) {
                        $('#uploadControlDiv').append(`<span class="resume-name-span" onclick="onlinePreview('${resume.resumeURL}')"><img src="/static/img/pdf_icon.png"  title="预览">${resume.resumeName}</span>`);
                    } else {
                        alert('未知的简历格式');
                    }
                    $('#uploadControlDiv').append(`<span class="glyphicon glyphicon-remove resume-remove" style="color: red;" title="删除简历" onclick="removeResume()"></span>`);
                    $('#resumeFilePath').val(resume.resumeFilePath);
                    $('#fileType').val(resume.fileType);
                    //禁用上传按钮
                    $('#uploadBut').attr("disabled", true)
                }, error: function () {
                    alert('上传简历失败');
                }
            });
        });
    });

    /**
     * 删除简历,即取消当前上传的简历
     */
    function removeResume() {
        if (!window.confirm('确定删除上传的简历码?')) {
            return;
        }
        resetUploadForm();
    }


    /**
     * 重置上传form表单信息
     */
    function resetUploadForm() {
        $('#resumeFiles').val("");//清空上传文件
        $('#uploadControlDiv').html('');
        $('#resumeFilePath').val('');
        $('#fileType').val('');
        $('#uploadBut').attr("disabled", false)
    }

    /**
     * 创建简历
     */
    function createResume() {
        let empId = $('#empId').val();
        if ('' == empId) {
            alert('缺少员工ID');
            return;
        }
        let resumeFilePath = $('#resumeFilePath').val();
        if ('' == resumeFilePath) {
            alert('缺少简历相对路径');
            return;
        }
        let fileType = $('#fileType').val();
        if ('' == fileType) {
            alert('缺少简历格式类型');
            return;
        }
        if (!(1 == fileType || 2 == fileType)) {
            alert('简历格式类型错误');
            return;
        }
        if (!window.confirm('确定要添加简历吗?')) {
            return;
        }
        let formData = $('#createResumeForm').serialize();
        $.ajax({
            url: '/resume/create',
            type: 'post',
            data: formData,
            contextType: 'application/x-www-form-urlencoded',// 在发送前对所有字符进行编码
            dataType: 'json',
            success: function (jsonData) {
                if (0 != jsonData.status) {
                    alert(`添加简历失败【${jsonData.message}】`);
                    return;
                }
                let rows = jsonData.data;
                if (1 == rows) {
                    alert('添加简历成功!!');
                    //隐藏模态框
                    $("#resumeModal").hide();
                    window.location.reload();//刷新页面
                } else {
                    alert('添加简历,服务器返回未知操作状态!');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(`添加简历失败【${errorThrown || textStatus}】`);
            }
        });
    }
</script>