<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <style type="text/css">
         .modal-dialog {
            width: 1000px!important;
        }
    </style>
    <link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/js/bootstrap/css/bootstrap-theme.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/js/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="/static/js/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/static/js/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="/static/js/bootstrap/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/util/common.js"></script>

</head>
<body>
<div th:fragment="page(size)">
    <!--每一页显示条数-->
    <input type="hidden" id="size" name="size" th:value="${pageData!=null?pageData.size:size}" />
    <!--当前页-->
    <input type="hidden" id="current" name="current" th:value="${pageData!=null?pageData.current:1}" />
    <!--总页数-->
    <input type="hidden" id="totalPage" name="totalPage" th:value="${pageData!=null?pageData.totalPage:1}" />
    <!--当前板块第一页-->
    <input type="hidden" id="first" name="first" th:value="${pageData!=null?pageData.pageNumList[0]:1}" />
    <!--当前板块最后第一页-->
    <input type="hidden" id="last" name="last" th:value="${pageData!=null?pageData.pageNumList[#lists.size(pageData.pageNumList)-1]:1}" />
</div>
</body>
</html>